.screen2{
    &__triangulo{
    position: absolute;
    transform: translate(48vw, -34px);
    width: 50px;
    z-index: 1000;
    }

    &__error{
    color: red;
    }

    &__inputtext{
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
    color:$secondary-color;
    }

    &__icons{
    color: #3fc3e0;
    }

    &__infoicon{
    position: absolute;
    transform: translate(-260px,37px);
    color: #3fc3e0;
    }

    &__eyeicon{
    z-index: 1000;
    position: absolute;
    transform: translate(-90px, 31px);    
    color: $secondary-color;
    font-size: 30px;
    }

    &__contadorbox{
    display: flex;
    flex-direction:row-reverse;
    }

    &__contador{
    font-size: 20px;
    }

    &__rulesbox{
    margin-top: 25px;
    }

    &__passwordsbox{
    margin-top: 25px;
    display: flex;
    justify-content:flex-start;
    }

    &__inputeyebox{
    display: flex;
    justify-content:flex-start;
    }

    &__pistabox{
    margin-top: 25px;
    }

    &__eyeiconbox{
    margin-left: 40px;
    }
}

#password{
    width: 600px;
}

#confirmPassword{
    width: 600px;
}


input[type="password"]{
    height: 51px;
    font-size: 50px;
}

input:placeholder-shown{
    font-size: 25px;
}

@media (max-width: 1550px) {
    .screen2{
        &__triangulo{
        transform: translate(47.1vw, -34px);
        }
    
        &__inputtext{
        font-size: 19px;
        }

        &__infoicon{
        transform: translate(-105px,33px);
        }
    
        &__eyeicon{
        transform: translate(-75px, 28px);    
        font-size: 30px;
        }
    
        &__contador{
        font-size: 15px;
        }
    
        &__rulesbox{
        margin-top: 19px;
        }
    
        &__passwordsbox{
        margin-top: 19px;
        }
    
        &__pistabox{
        margin-top: 19px;
        }
    
        &__eyeiconbox{
        margin-left: 30px;
        }
    }
    
    input[type="password"]{
        height: 42px;
        font-size: 50px;
    }
    
    input:placeholder-shown{
        font-size: 19px;
    }

    #password{
        width: 400px;
    }
    
    #confirmPassword{
        width: 400px;
    }    
} 

@media (max-width: 1100px) {
    .screen2{
        &__triangulo{
        transform: translate(45.8vw, -34px);
        }
    
        &__inputtext{
        font-size: 16px;
        }

        &__error{
        font-size: 11px;
        }

        &__infoicon{
        transform: translate(-30px,32px);
        }
    
        &__eyeicon{
        transform: translate(-65px, 25px);    
        font-size: 27px;
        }

        &__inputeyebox{
        display: flex;
        }
    
        &__contador{
        font-size: 15px;
        }
    
        &__rulesbox{
        margin-top: 17px;
        }
    
        &__passwordsbox{
        margin-top: 17px;
        flex-direction:column
        }
    
        &__pistabox{
        margin-top: 17px;
        }
    
        &__eyeiconbox{
        margin-left: 30px;
        }
    }
    
    input[type="password"]{
        height: 38px;
        font-size: 48px;
    }
    
    input:placeholder-shown{
        font-size: 17px;
    }
    
    #password{
        min-width: 100%;
    }
    
    #confirmPassword{
        min-width: 100%;
    }
}